<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <input type="text" placeholder="请输入商品名称" class="form-control" [formControl]="titleFilter">
    </div>
  </div>
  <div *ngFor="let product of products | filter:'title':keyword" class="col-md-3 col-sm-3 col-lg-3 mg-b50">
    <div class="img-thumbnail">
      <img [src]="imgUrl" alt="">
      <div class="caption">
        <div class="d-flex justify-content-between">
          <h4><a href="" [routerLink]="['/product', product.id]">{{product.title}}</a></h4>
          <h4>{{product.price}}</h4>
        </div>
        <p>{{product.desc}}</p>
      </div>
      <div>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>
</div>
